@page
@model CarProject.InquiryModel
@using CarProject.Models
@{
    ViewData["Title"] = "Inquiry";
}



<h1>Booking Inquiry</h1>

<form class="form" method="post">
    <h2>Dates</h2>
    <div class="row">
        <div class="form-group col-sm">
            <label asp-for="Inquiry.StartDate" class="col-md-3 right">Start:</label>
            <input asp-for="Inquiry.StartDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Inquiry.StartDate"></span>
        </div>
        <div class="form-group col-sm">
            <label asp-for="Inquiry.EndDate" class="col-md-3 right">End:</label>
            <input asp-for="Inquiry.EndDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Inquiry.EndDate"></span>
        </div>
    </div>
    <p>Total number of days desired: @Model.TotalDays</p>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-1 mb-3" asp-page-handler="Update">Update</button>

    <h2>Available cars</h2>
    <div class="container row m-2">
        @foreach (Vehicle vehicle in Model.Matches) {
            <div class="col-sm">
                <label class="card py-3 m-1 align-items-center text-center">
                    <img src="~/images/audia6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">@vehicle.Make @vehicle.Model</h5>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Seats: @vehicle.Seats</li>
                        <li class="list-group-item">Total cost: £@(Model.TotalDays * @vehicle.Rate)</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>

                    <div class="card-body btn btn-outline-primary mt-3">
                        <input type="radio" asp-for="Inquiry.DesiredVehicleId" value="@vehicle.VehicleId.ToString()" />
                        Select this car
                    </div>
                </label>
            </div>
        }
    </div>





    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" asp-page-handler="Next">Next</button>
</form>

<h2>Debug Summary</h2>
<p>Your start date:</p>
<p>@Model.Inquiry.StartDate</p>

<p>Your end date:</p>
<p>@Model.Inquiry.EndDate</p>

<p>Total of days:</p>
<p>@Model.TotalDays</p>

@if (Model.Matches.Count() > 0) {
    @foreach (var vehicle in Model.Matches) {
        <p>@vehicle.RegistrationMark</p>
    }
} else {
    <p>No cars available</p>
}
