@page
@model CarProject.InquiryModel
@using CarProject.Models
@{
    ViewData["Title"] = "Inquiry";
}

<h1 class="text-center">Booking Inquiry</h1>

<form class="form" method="post">
    <h2 class="text-center">Dates</h2>
    <div class="row">
        <div class="form-group col-sm">
            <label asp-for="Inquiry.StartDate" class="col-md-3 right">Start:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        &#x1F4C5;
                    </div>
                </div>
                <input asp-for="Inquiry.StartDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
            <span asp-validation-for="Inquiry.StartDate"></span>
        </div>
        <div class="form-group col-sm">
            <label asp-for="Inquiry.EndDate" class="col-md-3 right">End:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        &#x1F4C5;
                    </div>
                </div>
                <input asp-for="Inquiry.EndDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
            </div>
            <span asp-validation-for="Inquiry.EndDate"></span>
        </div>
    </div>
    <h4 class="text-center">Total number of days desired: @Model.TotalDays</h4>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 mb-3" asp-page-handler="Update">Check Dates</button>

    <h2 class="text-center">Available cars</h2>
    <div class="m-2 row justify-content-center align-items-center">
        @if (Model.Matches == null || Model.Matches.Count() < 1) {
            <p>No cars available, please try different dates.</p>
        } else {
            @foreach (Vehicle vehicle in Model.Matches) {
                <div class="col-md-6 col-lg-4 col-xl-3 py-2" >
                    <div class="card py-3 m-1 align-items-center text-center">
                        @if (!System.IO.File.Exists(Model.webroot + "\\images\\" + vehicle.ImageFile)) {
                            <img src="~/images/placeholder.png" class="card-img-top" alt="...">
                        } else {
                            <img src="~/images/@vehicle.ImageFile" class="card-img-top" alt="@vehicle.Make  @vehicle.Model">
                        }

                        <div class="card-body">
                            <h5 class="card-title text-center">@vehicle.Make @vehicle.Model</h5>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Seats: @vehicle.Seats</li>
                            <li class="list-group-item">Total cost: £@(Model.TotalDays * @vehicle.Rate)</li>
                            <li class="list-group-item">Car size: @vehicle.Size</li>
                        </ul>

                        <label class="card-body btn btn-outline-primary mt-3">
                            <input type="radio" asp-for="Inquiry.DesiredVehicleId" value="@vehicle.VehicleId.ToString()" id="radio-@vehicle.VehicleId.ToString()" />
                            Select this car
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" asp-page-handler="Next">Next</button>
</form>
<script src="~/js/site.js"></script>