@page
@model CarProject.UserReviewIndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserReview[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReview[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReview[0].ReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReview[0].ReviewDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReview[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserReview) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
